asgiref==3.6.0
contourpy==1.1.0
cycler==0.11.0
Django==4.2.1
django-admin==2.0.2
django-excel-response2==3.0.5
django-six==1.0.5
excel-base==1.0.4
filelock==3.12.0
fonttools==4.39.4
isoweek==1.3.3
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
MarkupSafe==2.1.2
matplotlib==3.7.1
mpmath==1.3.0
networkx==3.1
numpy==1.24.3
packaging==23.1
pandas==2.0.1
Pillow==9.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
scikit-learn==1.2.2
scipy==1.10.1
screen==1.0.1
seaborn==0.12.2
six==1.16.0
sklearn==0.0.post5
sqlparse==0.4.4
sympy==1.12
threadpoolctl==3.1.0
TimeConvert==3.0.13
torch==2.0.1
typing_extensions==4.5.0
tzdata==2023.3
tzlocal==4.3oi
waitress==2.1.2
xlwt==1.3.0
